@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
.logo{font-family: 'Paytone One', sans-serif; color: white; font-size: 35px; width: auto !important; position: absolute; top:10px;}
.w-90{color: black; top: 5px; font-size: 25px;}